<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/deletar.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
            </style>    
    <title>Filmes</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <% filmes.forEach(element => { %>
        <div class="card-container">
            <div>
                <form action="/deletar/:id" method="delete">
                    <i class="fa-light fa-trash"></i>
                </form>
            </div>
            <div class="card-image">
                <img src="<%= element.img %> " alt="<%= element.nome %> ">
            </div>
            <div card="card-title">
                <div> <%= element.nome %> </div>
            </div>
        </div>
        <% }) %>
    </main>
</body>

</html>